<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("head_tags")%>
    <title>ComicRoom - <%=comic_Field.title%></title>
</head>
    <body class="h-100 text-white bg-dark" >
        <div class="d-flex" style="z-index:2;position: absolute;font-size:30px;opacity: 0.2;left:4px;top:4px;">
            <b style="font-size: 25px;margin-right: 10px;">
                <a id="currentPage">999</a>/<a id="totalPage">999</a>
            </b>
        </div>
        <div class="d-flex" style="background-color: rgb(36, 36, 36,0.2);z-index:2;position: absolute;font-size:30px;right:5px;top:4px;">
            <a id="backToStart" style="font-size: 30px;cursor: pointer;display: none;">
                <i class="mx-2 fas fa-undo-alt"></i>
            </a>
            <a id="fullScreen_icon" style="font-size: 30px;cursor: pointer;opacity: 0.2;">
                <i class="mx-2 fas fa-expand"></i>
            </a>
            <a id="infoComic_details" style="font-size: 30px;cursor: pointer;opacity: 0.2;">
                <i class="mx-1 fas fa-info-circle"></i>
             </a>

            <a id="backToComics" style="font-size: 30px;cursor: pointer;opacity: 0.2;">
             <i class="mx-2 fas fa-times"></i>
            </a>
        </div>

        <div class="container d-flex justify-content-center align-items-center" style="height:100vh;position: relative;">

            <div class="d-flex" id="leftTrigger">
                <i style="cursor: pointer;" class="fas fa-arrow-circle-left align-self-center"></i>
            </div>

            <img onload="cacheNextImage()" style="position: absolute;max-width: 100%;max-height: 100%;transform: scale3d(1, 1, 1);" class="img-fluid" id="mainImage" src="">

            <img id="cachedImage" src="" style="height: 1px; width:1px;" />
            <div class="d-flex" id="rightTrigger">
                <i style="cursor: pointer;" class="fas fa-arrow-circle-right align-self-center"></i>
            </div>

        </div>
        <div id="infoComic" class="d-flex">
            <div class="px-3 align-self-center">
                <b style="border-bottom: 1px solid white;color:white;"><%=comic_Field.title%></b>
                <p>
                    <%=comic_Field.description%>
                </p>
                <p class="justify-text" style="font-size: 12px;">
                    Author:<br><% if(comic_Field.author != ""){ %>
                                <%=comic_Field.author%>
                                <% }else{ %>
                                    Unknown
                                <% }%>
                </p>
            </div>
            <div id="closeInfoComic" style="cursor: pointer;font-size: 25px;opacity: 0.5;">
                <i class="mx-2 fas fa-times"></i>
            </div>
        </div>
    </body>
<script type="text/javascript">
// comicImages 
var comicImages = [<%-comicImages.join(",")%>];
var comicId = <%=comic_Field.id%>;
var comicImagesLength = comicImages.length;
// comicFolder
var comicFolder = "<%-savedFolder%>";
var mainImage = document.getElementById("mainImage");
var lastTime = parseInt("<%=pageNumber%>");
if(typeof window.localStorage[comicFolder] != "undefined" && lastTime == 0){
    lastTime = parseInt(window.localStorage[comicFolder]);
    if(lastTime > comicImagesLength){
        lastTime = 0;
    }
}
</script>
<script src="/public/script/viewComic.js"></script>
</html>