<%- include("header") %>
<div class="container content_c d-flex mt-5 justify-content-center">
    <div>
        <%=msg%>
    </div>
    <form method="post">
        <input class="form-control" name="username" value="<%=username%>" placeholder="username" type="text"><br>
        <input class="form-control" name="email" value="<%=email%>" placeholder="email" type="text"><br>
        <input class="form-control" name="password" value="<%=password%>" placeholder="Password" type="password"><br>
        <button class="btn btn-secondary">Register</button><br>
    </form>
</div>
<%- include("footer") %>